<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area of Triangle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <ul class="navbar">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('works') }}">Works</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <div class="content">
            <h1>Area of a Triangle</h1>
            <form method="POST">
                <label>Base:</label>
                <br>
                <input type="number" name="base" step="0.01" required>
                <br>
                <label>Height:</label>
                <br>
                <input type="number" name="height" step="0.01" required>
                <br>
                <button type="submit">Calculate Area</button>
            </form>
            <p>
                {% if area %}
                <strong>Calculated Area: {{ area }}</strong>
                {% endif %}
            </p>

            <p>
                <a href="/works">Back to Works</a>
            </p>
        </div>
    </div>
</body>




</html>