<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <ul class="navbar">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('works') }}">Works</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <div class="profile-container">
            <img src="{{ url_for('static', filename='MyPFP.jpg') }}" alt="Profile picture"
                class="profile-pic" />
            <h1 class="profile-name">Aldred Custodio</h1>
            <a> This is an example Bio</a>
        </div>
    </div>
</body>

</html>