<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <nav class="sidebar">
            <ul class="navbar">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('works') }}">Works</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>

        <div class="works-container">
            <h1 class="works-title">My Works</h1>
            <a class="work-btn" href="/works/area_circle">Area of Circle</a>
            <a class="work-btn" href="/works/area_triangle">Area of Triangle</a>
            <a class="work-btn" href="/works/uppercase">Uppercase</a>
        </div>
    </div>
</body>

</html>